{% extends "base.html" %}

{% block content %}
  <h1 id="hello"><a href="#hello" class="anchor">#</a> Hello</h1>
  Hi/Cześć/こんにちは, I'm <strong>Konrad</strong>. Welcome to my website! <i class="feather-14" data-feather="heart" style="color: #dc322f; fill: #dc322f;"></i><br>
  I was born in Poland but moved to the UK when I was 6 and I've been living here ever since.
  When I came to the UK I had absolutely zero knowledge or experience with English but somehow managed to learn it within about a year to an acceptable standard.
  I started programming when I was around 13 years old - initially in Java but dropped it for Python not too long after.
  Python is my language of choice as I have the most experience with it. Currently, I'm a student at <a href="https://www.qub.ac.uk/">Queen's University, Belfast</a>,
  studying MEng Computer Science and will be graduating in 2023. I made this website with the goal of using it as some sort-of portfolio,
  and also to just post stuff that I'm interested in from time to time, plus, I figured it would look pretty good on a CV. I also kinda wanted to flex on all
  my friends who don't have a personal website, so there's that.<br><br>
  I love programming (though, ironically, this seems to be a mostly hate fueled passion), gardening, games, anime, playing the guitar, and recently also riding motorbikes.
  Not sure if I can really call myself a biker yet but I will anyway because it makes me sound cool. My dream is to visit Japan (and work there).
  I also really like the Witcher and am a big fan of Andrzej Sapkowski. <small class="not-to-be-said-out-loud">I also like memes.</small>

  <h1 id="skills"><a href="#skills" class="anchor">#</a> Skills</h1>
  Some of the stuff I've done, am doing, or can do/things I'm kinda good at:
  <ul>
    <li>Python (6+ years) <i class="feather-14" data-feather="star" style="color: #fdf6e3; fill: #fdf6e3;"></i>, Java (2+ years), C/C++ (<1 year), HTML/CSS/JavaScript (2+ years), Dart (<1 year)</li>
    <li>MongoDB, SQL, Redis</li>
    <li>Amazon Mechanical Turk</li>
    <li>Windows and Linux management/administration</li>
    <li>Networking & server admin (nginx, uwsgi, flask, mongodb, systemd, let's encrypt, ufw, fail2ban, iptables, etc...)</li>
    <li>Big data</li>
    <li>Constraint solving</li>
    <li>Experience with Visual Studio, JetBrains software, git, MS office suite</li>
  </ul>

  Unrelated/non-technical things/other:
  <ul>
    <li>Fluent in Polish, English, and learning Japanese (struggling to learn Japanese)</li>
    <li>I can play the guitar</li>
    <li>Completed the Beijing Institute of Technology summer engineering program</li>
    <li>Member of QLab (Queen's University)</li>
    <li>80WPM typing speed (yeah not that great, I know...)</li>
    <li>Interned at Liberty IT for a week</li>
  </ul>

  <h1 id="projects"><a href="#projects" class="anchor">#</a> Projects</h1>
  I don't tend to do a lot of work on overly big projects, but here are some of the more interesting ones anyway:
  <ul>
    <li>
      Marko - my (no longer supported) Discord bot. Started out as a joke but grew into something that I'm quite proud of.
      Some parts of it are pretty badly designed and it sure could use an overhaul, but, for the most part, I'm quite happy
      with how it turned out. I stopped maintaining it when I realised I've been using a deprecated version of discord.py the entire time (big rip),
      and couldn't be bothered to rewrite it.
    </li>
    <li>
      VirtualNI - this is possibly the biggest project I've ever worked on in terms of, both, scope and code base.
      VirtualNI was the first project I worked on at QLab and the name of it pretty much gives away the goal -
      a total simulation of Northern Ireland. The project is mainly coded in Java and relies heavily on web scraping,
      big data, and constraint solvers.
    </li>
    <li>
      Many other projects that I've worked on at QLab but can't really talk about. Mainly involving a lot of
      web scraping, Mechanical Turk, reverse engineering, and developing Android apps using Flutter.
    </li>
  </ul>

  <h1 id="thanks"><a href="#thanks" class="anchor">#</a> Thanks</h1>
  Thanks for stopping by my site. Make sure to checkout some of the posts I make here if you have the time...
  <br><br>See ya/do zobaczenia/またね
{% endblock %}
